.btn {
    @apply font-bold rounded cursor-pointer;
}

.btn-blue {
    @apply py-2 px-5 bg-blue-500 text-white hover:bg-blue-700;
}

.btn-icon {
    @apply p-1 text-xl hover:scale-120;
}

.btn-icon:disabled {
    @apply opacity-50 hover:scale-100 cursor-default;
}

.table-bordered th,
.table-bordered td {
    @apply border border-stone-700 p-1;
}

.h-panel {
    max-height: calc(100vh - 12rem);
}

.tooltip-container .tooltip {
    @apply absolute invisible transition-opacity;
}

.tooltip-container:hover .tooltip {
    @apply opacity-100 visible;
}

.tooltip::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--color-stone-700) transparent transparent transparent;
}
