.btn {
    @apply font-bold rounded cursor-pointer;
}

.btn-blue {
    @apply py-2 px-5 bg-blue-500 text-white hover:bg-blue-700;
}

.btn-icon {
    @apply p-1 text-xl hover:scale-120;
}

.btn-icon:disabled {
    @apply opacity-50 hover:scale-100 cursor-default;
}

.table-bordered th,
.table-bordered td {
    @apply border border-stone-700 p-1;
}
