.station-icon {
    width: 16px !important;
    height: 16px !important;
    left: -2px !important;
    top: -2px !important;
    background-color: white;
    border: 4px solid var(--color-blue-600);
    border-radius: 50%;
}

.station-icon-small {
    width: 12px !important;
    height: 12px !important;
    background-color: var(--color-blue-600);
    border-radius: 50%;
}

.station-icon-large {
    width: 20px !important;
    height: 20px !important;
    left: -5px !important;
    top: -5px !important;
    background-color: white;
    border: 6px solid var(--color-blue-600);
    border-radius: 35%;
}
.station-icon-large::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 30%;
    left: -1px;
    top: -1px;
}

.train-icon {
    width: 24px !important;
    height: 24px !important;
    left: -6px !important;
    top: -6px !important;
    background-color: hsl(120, 100%, 50%);
    border-radius: 50%;
    background-image: url("https://cdn-icons-png.flaticon.com/512/565/565410.png");
    background-size: contain;
}

.better-train-icon {
    width: 32px !important;
    height: 32px !important;
    left: -10px !important;
    top: -10px !important;
    background-color: hsl(120, 100%, 50%);
    border-radius: 50%;
    background-image: url("/src/assets/tomek-i-przyjaciele.png");
    background-size: 50px 50px;
    background-position: -5px -5px;
}
