@import "tailwindcss";
@import "leaflet";
@import "./icons.css";
@import "./components.css";

#map {
    position: fixed;
    display: block;
    z-index: -1;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
}
