::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-stone-700);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-stone-800);
}

::-webkit-scrollbar-button {
    display: none;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-stone-700) transparent;
}
