@import "tailwindcss";

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    --bg-color: #333;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    margin: 0.1em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: none;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    z-index: 1000;
    text-align: center;
}

.error {
    font-size: 1.2rem;
    color: red;
}

.left {
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: clamp(300px, 30vw, 500px);
    height: calc(100vh - 2rem);
    pointer-events: none;
}

.panel {
    background-color: var(--bg-color);
    border-radius: 1rem;
    padding: 1rem;
    z-index: 1;
    margin-bottom: 1rem;
    pointer-events: auto;
}

#panel {
    display: none;
}

#map {
    position: fixed;
    display: block;
    z-index: -1;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

div.controls p {
    text-align: center;
    font-size: 1.2em;
    margin: 0 0 0.5em 0;
}

div.buttons {
    text-align: center;
    margin-bottom: 0.5em;
}

div.sliders {
    text-align: center;
    margin-top: 0.5em;
}

input[type="range"] {
    width: 60%;
}
input[type="range"]::-webkit-slider-thumb {
    cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
    cursor: pointer;
}
label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 0.9em;
    margin: 0 0.5em;
}
label input {
    vertical-align: middle;
}

label span span {
    font-weight: bold;
    margin-left: 1ch;
}

#panel {
    position: relative;
}

#delta {
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.7);
    margin-top: -0.5rem;
}

#panel-close {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    font-size: 1.5rem;
    line-height: 1;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.6);
}

#panel-close:hover {
    color: rgba(255, 255, 255, 1);
}

#panel h2 {
    margin: 0;
    padding: 0;
}

#panel-content p {
    margin: 0.2rem 0;
}

#panel-content table {
    text-align: center;
}

.station-icon {
    width: 16px !important;
    height: 16px !important;
    left: -6px !important;
    top: -6px !important;
    background-color: white;
    border: 4px solid blue;
    border-radius: 50%;
}

.train-icon {
    width: 24px !important;
    height: 24px !important;
    left: -6px !important;
    top: -6px !important;
    background-color: hsl(120, 100%, 50%);
    border-radius: 50%;
    background-image: url("https://cdn-icons-png.flaticon.com/512/565/565410.png");
    background-size: contain;
}
