:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    margin: 0.1em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: none;
}

.controls {
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: clamp(300px, 30vw, 500px);
    background-color: #4d4d4d;
    border-radius: 1rem;
    padding: 1rem;
    z-index: 1;
}

#map {
    position: fixed;
    display: block;
    z-index: -1;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

div.station-icon {
    width: 16px !important;
    height: 16px !important;
    left: -6px !important;
    top: -6px !important;
    background-color: white;
    border: 4px solid blue;
    border-radius: 50%;
}

div.controls p {
    text-align: center;
    font-size: 1.2em;
    margin: 0 0 0.5em 0;
}

div.buttons {
    text-align: center;
    margin-bottom: 0.5em;
}

div.sliders {
    text-align: center;
    margin-top: 0.5em;
}

input[type="range"] {
    width: 60%;
}
input[type="range"]::-webkit-slider-thumb {
    cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
    cursor: pointer;
}
label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 0.9em;
    margin: 0 0.5em;
}
label input {
    vertical-align: middle;
}

label span span {
    font-weight: bold;
    margin-left: 1ch;
}
